@import "../../../../scss/vars.scss";
.header {
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 40px 0px 0px 20px;
}

.title {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  span {
    color: $sub-title-color;
  }
}

.btn {
  background-color: transparent;
  border: 1px solid $side-bar-btn-border-color;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  align-items: center;
  cursor: pointer;
}
