@import "../../scss/vars.scss";

.label_switch {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: $list-text-color;
}

.activeTab {
  color: $selected-nav-link-color;
}

.header {
  display: flex;
  width: 90%;
  padding: 3%;
  align-items: center;
  flex-direction: column;
  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 24px;
    &::before {
      color: silver;
      content: "Портал ";
    }
  }
}
