.form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.item {
  display: flex;
  gap: 30px;
  p {
    font-size: 0.8rem;
    margin: 0;
  }
  display: flex;
}

.title {
  align-self: flex-start;
  text-align: end;
  width: 20%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 30%;
}
@media only screen and (max-width: 1100px) {
  .title {
    width: 25%;
  }
  .content {
    width: 40%;
  }
}

@media only screen and (max-width: 760px) {
  .title {
    width: 25%;
  }
  .content {
    width: 70%;
  }
}

.date_picker {
  margin-bottom: 40px;
}

.checkboxes {
  gap: 50px;
  display: flex;
}
