@import "../../../scss/vars.scss";
.form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.item {
  display: flex;
  gap: 30px;
  p {
    font-size: 0.8rem;
    margin: 0;
  }
  display: flex;
}

.title {
  align-self: flex-start;
  text-align: end;
  width: 20%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 30%;
}
@media only screen and (max-width: 1100px) {
  .title {
    width: 25%;
  }
  .content {
    width: 40%;
  }
}

@media only screen and (max-width: 760px) {
  .title {
    width: 25%;
  }
  .content {
    width: 70%;
  }
}

.date_picker {
  margin-bottom: 40px;
}

.checkboxes {
  gap: 50px;
  display: flex;
}

.button_pick_img {
  color: $main-color;
  height: 44px;
  width: 100%;
  background-color: $img_picker_btn;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  border-radius: 5px;
}

.error_message{
  color: $errors-color
}