.labelError {
  color: red;
  p {
    margin: 0;
  }
  input {
    border: 1px solid red;
  }
}

.form {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  width: 45%;
  margin: auto;
  align-items: center;
  button {
    width: 30%;
  }
}
