.labelError {
  color: red;
  p {
    margin: 0;
  }
  input {
    border: 1px solid red;
  }
}

.form {
  text-align: center;
  background-color: aqua;
  width: 45%;
  margin: auto;
  input {
    width: 90%;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    outline: none;
  }
  button {
    width: 30%;
  }
}
