@import "../../../scss/vars.scss";

.wrapper {
  border-radius: 5px;
  margin: 0 auto;
  width: 70%;
  padding: 1%;
  background-color: $main-color;
  text-align: center;
}

.selector {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
  }
}
.select {
  width: 70%;
}

.error_txt {
  color: $errors-color;
  text-align: end;
  margin: 0;
  font-size: small;
}
