@import "../../scss/vars.scss";
.input_title {
  margin: 0;
}
.input {
  background-color: $main-color;
  height: 44px;
  border: 1px solid #d3e1f1;
  border-radius: 5px;
  padding: 6px;
  width: 130%;
}
