@import "../../scss/vars.scss";

.input_label {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: $input-title-color;
  font-weight: 600;
}

.input {
  height: 44px;
  border: 1px solid #d3e1f1;
  border-radius: 5px;
  padding-left: 1%;
  outline: none;
  font-size: 1.2rem;
}
