.ant-form-horizontal .ant-form-item-label {
  width: 40%;
  display: flex;
  white-space: normal;
  justify-content: flex-end;
  overflow: visible;
}

.ant-form-item-label {
}

.ant-input,
.ant-picker-input > input {
  height: 44px;
  font-size: 16px;
}
