.ant-form-horizontal .ant-form-item-label {
  width: 40%;
  display: flex;
  white-space: normal;
  justify-content: flex-end;
  overflow: visible;
}

.ant-form-item-label {
}
.ant-select-selector {
  width: 40px;
  background-color: aqua;
}
.ant-input,
.ant-picker-input > input {
  height: 44px;
  font-size: 16px;
}

.ant-form-item {
  margin-bottom: 0;
}
