$errors-color: rgb(148, 36, 36);
$main-color: #fff;
$bg-main-color: #e5e5e5;
$title-color: #1a2546;
$input-title-color: #2a3657;
$list-text-color: #54617a;
$selected-list-item-color: #d4e9fb;
$sub-title-color: #8695af;
$side-bar-btn-border-color: #e8f0f8;
